<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->


<style>
  /*-- -------------------------- -->
<!--       Why Choose Us        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1876 {
    padding: var(--sectionPadding);
    /* 128px - 192px */
    padding-bottom: clamp(8rem, 14vw, 12rem);
    overflow-x: clip;
    position: relative;
  }
  #why-choose-1876 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #why-choose-1876 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #why-choose-1876 .cs-text {
    /* 12px - 24px */
    margin-bottom: clamp(0.75rem, 4vw, 1.5rem);
  }
  #why-choose-1876 .cs-ul {
    max-width: 39.375rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-flow: row;
    /* 4px - 12px */
    gap: clamp(0.25rem, 2vw, 0.75rem);
  }
  #why-choose-1876 .cs-li {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    list-style: none;
    width: 100%;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #why-choose-1876 .cs-check-icon {
    width: 1.5rem;
    height: auto;
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: 1px;
    display: block;
  }
 
  #why-choose-1876 .cs-video-wrapper {
    width: 100%;
    height: 111vw;
    max-height: 22.5rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #why-choose-1876 .cs-video-wrapper:hover {
    cursor: pointer;
  }
  #why-choose-1876 .cs-video-wrapper:hover .cs-play {
    transform: translate(-50%, -50%) scale(1.2);
  }
  #why-choose-1876 .cs-video-wrapper video,
  #why-choose-1876 .cs-video-wrapper .cs-picture {
    width: 100%;
    height: 100%;
    /* makes image act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #why-choose-1876 .cs-video-wrapper video img,
  #why-choose-1876 .cs-video-wrapper .cs-picture img {
    width: 100%;
    height: 100%;
    /* makes image act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #why-choose-1876 .cs-play {
    /* 80px - 120px */
    width: clamp(5rem, 10vw, 7.5rem);
    height: clamp(5rem, 10vw, 7.5rem);
    background-color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s, opacity 0.3s;
    backdrop-filter: blur(8px);
  }
  #why-choose-1876 .cs-play.cs-hide {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0) !important;
  }
  #why-choose-1876 .cs-icon {
    width: 1.25rem;
    height: auto;
  }
  #why-choose-1876 .cs-picture {
    width: 100%;
    height: 95vw;
    /* 260px - 324px */
    min-height: clamp(16.25rem, 32vw, 20.25rem);
    margin: clamp(3rem, 6vw, 4rem) 0 0;
    display: block;
    position: relative;
    z-index: 1;
  }
  #why-choose-1876 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #why-choose-1876 .cs-graphic {
    width: 100%;
    min-width: 75rem;
    height: auto;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #why-choose-1876 .cs-dark {
    display: none;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1876 .cs-video-wrapper {
    height: 90%;
    max-height: 100%;
    /* 420px - 740px */
    min-height: clamp(26.25rem, 50vw, 46.25rem);
  }
  #why-choose-1876 .cs-container {
    max-width: 80rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
  }
  #why-choose-1876 .cs-content {
    width: 62%;
    max-width: 700px;
    /* sends it to the right in the 2nd position */
    order: 2;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #why-choose-1876 .cs-ul {
    grid-template-columns: repeat(2, 1fr);
  }
  #why-choose-1876 .cs-picture {
    height: 100%;
    max-height: 100%;;
    margin: 0px;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-1876 {
    padding-bottom: 100px;
  }
  #why-choose-1876 .cs-container {
    align-items: stretch;
  }
  #why-choose-1876 .cs-video-wrapper {
    height: auto;
   
  }
}
                                
</style>


<section id="why-choose-1876">
  <div class="cs-container">
      <div class="cs-video-wrapper">
        <picture class="cs-picture">
                  <source media="(max-width: 600px)" srcset="/assets/images/bgb.jpg">
                  <source media="(min-width: 601px)" srcset="/assets/images/bgb.jpg">
                  <img loading="lazy" decoding="async" src="/assets/images/bgb.jpg" alt="body builder" width="630" height="877">
              </picture> 
    
      </div>
      <div class="cs-content">
          <span class="cs-topper">Why Choose Us</span>
          <h2 class="cs-title">You Deserve Peace of Mind & a Home You’re Proud Of
          </h2>
          <p class="cs-text">
            We started Great Lakes Handyman Services after seeing one common request from our construction clients - “Can you come back and help with the small stuff?” 
 So we did. We’ve built a local reputation for being the handyman service that shows up, does it right, & communicates every step of the way.
 
            


          </p>
          <ul class="cs-ul">
              <li class="cs-li">
                  <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                  Veteran Owned & Operated
              </li>
              <li class="cs-li">
                  <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                  Fast, Clear Communication

              </li>
              <li class="cs-li">
                  <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                  High Standards of Cleanliness & Care

              </li>
              <li class="cs-li">
                  <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                  Trusted by Homeowners in Michigan

              </li>
          </ul>
          <DIV style="margin-top: 20px;">
            


    <div>
      {% include 'components/cta_button.html' %}
    </div
       
          </div>
       
      </div>
  </div>

 

</section>
                              