
    <ul id="cs-expanded" class="cs-ul">
        <li class="cs-li">
            <a href="/" class="cs-li-link {{ 'cs-active' if '/' == page.url }}">
                Home
            </a>
        </li>

        <li class="cs-li">
            <a href="/services" class="cs-li-link {{ 'cs-active' if 'contact' == page.fileSlug }}">
               Services
            </a>
        </li>
        <li class="cs-li">
            <a href="/about" class="cs-li-link {{ 'cs-active' if 'about' == page.fileSlug }}">
                About Us
            </a>
        </li>


        <li class="cs-li">
            <a href="/reviews" class="cs-li-link {{ 'cs-active' if '/know-before-you-go/'== page.url }}">
              Reviews
            </a>
        </li>
 
        <li class="cs-li">
            <a href="/contact" class="cs-li-link {{ 'cs-active' if 'contact' == page.fileSlug }}">
               Contact 
            </a>
        </li>
                    
    </ul>