<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<style>
    /*-- -------------------------- -->
  <---          Reviews           -->
  <--- -------------------------- -*/
  
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    .cs-graphic-top-reviews {
    width: 100%;
  
    height: auto;
    object-fit: cover;
    position: relative;
    top: 0px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
  }
    #reviews-245  .cs-graphic {
    width: 100%;
 
    height: auto;
    object-fit: cover;
    position: absolute;
    bottom: 0px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
  }
      #reviews-245 {
          padding: var(--sectionPadding);
         
          background: #000;
          position: relative;
          overflow: hidden;
          margin-top: -10px;
      }
      #reviews-245 .cs-container {
          width: 100%;
          /* changes to 1280px at tablet */
          max-width: 34.375rem;
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* 48px - 64px */
          gap: clamp(3rem, 6vw, 4rem);
      }
      #reviews-245 .cs-content {
          /* set text align to left if content needs to be left aligned */
          text-align: left;
          width: 100%;
          max-width: 32.625rem;
          margin-right: auto;
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: flex-start;
      }
  
      #reviews-245 .cs-card-group {
          width: 100%;
          padding: 0;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          row-gap: 2rem;
      }
      #reviews-245 .cs-item {
          text-align: left;
          list-style: none;
          width: 100%;
          /* max-width set at tablet */
          /* pushes up by the same amount the cs-item-img overlaps the card */
          margin: 3rem 0 0 0;
          /* 16px - 36px left and right */
          /* 24px - 36px on the bottom */
          padding: 3.75rem clamp(1rem, 2.7vw, 2.25rem)
              clamp(1.25rem, 2.7vw, 2.25rem);
          /* prevents padding and border from affecting height and width */
          box-sizing: border-box;
          box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
          border-radius: 0.25rem;
          background: #fff;
          position: relative;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;
      }
      #reviews-245 .cs-item-img {
          width: 4.5rem;
          height: 4.5rem;
          position: absolute;
          top: -1.5rem;
          background-color: #0866FF;
          padding: 10px;
          border-radius: 9px;
      }
      #reviews-245 .cs-item-text {
          font-size: 1rem;
          line-height: 1.5em;
          margin: 0 0 1.5rem;
          color: var(--bodyTextColor);
      }
      #reviews-245 .cs-flex-group {
          width: 100%;
          padding-top: 1.5rem;
          border-top: 1px solid #dad9e3;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          flex-wrap: wrap;
      }
      #reviews-245 .cs-reviewer {
          /* 14px - 16px */
          font-size: clamp(0.875rem, 1.4vw, 1rem);
          line-height: 1.5em;
          font-weight: 700;
          width: 40%;
          margin: 0 auto 0 0;
          display: block;
          color: var(--headerColor);
      }
      #reviews-245 .cs-desc,
      #reviews-245 .cs-rating {
          /* 14px - 16px */
          font-size: clamp(0.875rem, 1.4vw, 1rem);
          font-weight: 400;
          line-height: 1.5em;
          color: #7d799c;
          display: block;
      }
      #reviews-245 .cs-rating {
          margin-right: 0.5rem;
      }
      #reviews-245 .cs-item-stars {
          width: 6em;
          height: 1em;
          /* centers it with the rating to the left */
          margin-bottom: 0.1875rem;
      }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
      #reviews-245 .cs-container {
          max-width: 80rem;
       
      }
      #reviews-245 .cs-card-group {
          flex-direction: row;
          justify-content: center;
          align-items: stretch;
          flex-wrap: wrap;
          /* 16px - 20px */
          column-gap: clamp(1rem, 1.5vw, 1.25rem);
          row-gap: 4rem;
      }
      #reviews-245 .cs-item {
          /* we do this so it's stackable. You can add new any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 22.5vw to get the desired sizes fit 4 in a row and then stack when you add more*/
          width: clamp(31.5%, 30vw, 32.3%);
          max-width: 25.8125rem;
          align-content: space-between;
      }
      #reviews-245 .cs-flex-group {
          /* push contents to the left */
          justify-content: flex-start;
      }
      #reviews-245 .cs-reviewer {
          width: 100%;
          margin-bottom: 0.5rem;
      }
  }
  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
      #reviews-245 .cs-flex-group {
          flex-wrap: nowrap;
      }
      #reviews-245 .cs-reviewer {
          margin: 0;
      }
      #reviews-245 .cs-item-stars {
          margin-bottom: 0.3125rem;
      }
      
  }
  
                                  
  </style>
  <span id="reviews"></span>

  <section id="reviews-245">

    <div class="cs-container">
        <div class="cs-content">
            <span data-aos="fade-up" class="cs-topper">Our Reviews</span>
            <h2 class="cs-title" style="color: #fff;">What Our Clients Say About Us</h2>
            <!--<p class="cs-text">
              I value my customers’ homes and businesses and treat them as though they were my own. I clean up thoroughly and leave your property as I found it. It's all about the service: I treat you the way I would want to be treated. 
            </p>-->
        </div>
        <ul class="cs-card-group">
            <!-- Review -->
            <ul class="cs-card-group">
                <li class="cs-item">
                  <img class="cs-item-img" src="/assets/images/fb.svg" alt="Facebook icon" width="72" height="72" loading="lazy" decoding="async" aria-hidden="true">
                  <p class="cs-item-text">
                    “Needed my new 85” TV mounted, decided to see if they could get it done and beyond happy with the result. First off I got the wrong mount—Mike went out of his way to return my wrong mount for me, grab the correct one from Best Buy, and install it. Even grabbed a stick track to hide the wires! LOOKS AMAZING. And since they were already there, they gave me a great deal to replace 2 steps on my deck that were falling apart!! 10/10 recommended.”
                    <br><strong>- Cam Lee</strong>
                  </p>
                </li>
                
                <li class="cs-item">
                  <img class="cs-item-img" src="/assets/images/fb.svg" alt="Facebook icon" width="72" height="72" loading="lazy" decoding="async" aria-hidden="true">
                  <p class="cs-item-text">
                    “Great guys to work with. Highly recommended, you won’t be disappointed.”
                    <br><strong>- Cameron Forbes</strong>
                  </p>
                </li>
              
                <li class="cs-item">
                  <img class="cs-item-img" src="/assets/images/fb.svg" alt="Facebook icon" width="72" height="72" loading="lazy" decoding="async" aria-hidden="true">
                  <p class="cs-item-text">
                    “Mike is the real deal when it comes to handyman work. Reliable, skilled, and truly takes pride in what he does. He’s handled everything from small repairs to bigger projects for me, and each time the results were solid and done right the first time. It’s rare to find someone this dependable and honest in the trade. I won’t be calling anyone else—highly recommended!”
                    <br><strong>- Terrance Mullee</strong>
                  </p>
                </li>
              
                <li class="cs-item">
                  <img class="cs-item-img" src="/assets/images/fb.svg" alt="Facebook icon" width="72" height="72" loading="lazy" decoding="async" aria-hidden="true">
                  <p class="cs-item-text">
                    “Great service from Great Lakes Handyman! Reliable, competitive pricing and quality work!”
                    <br><strong>- Carrie Morrish Nickel</strong>
                  </p>
                </li>
              
                <li class="cs-item">
                  <img class="cs-item-img" src="/assets/images/fb.svg" alt="Facebook icon" width="72" height="72" loading="lazy" decoding="async" aria-hidden="true">
                  <p class="cs-item-text">
                    “Would highly recommend Great Lakes Handyman Services! They were easy to communicate with and went above and beyond on the work we had them do. We will be having them back to do future projects for us.”
                    <br><strong>- Brian Hutchinson</strong>
                  </p>
                </li>
              </ul>
              
        
     
        
           
        
         
       
        
  <div class="cs-flex">
  
    {% include 'components/cta_button.html' %}

  
      </div>
      
      
  </section>
                                