---
title: 'Locally Owned Cleaning Services in Michigan | 5 Star Rated'
description: 'Get reliable, top rated cleaning services in Oakland, Genesee, Lapeer & Saginaw Counties. Locally owned, professional, and always done right the first time with no stress or shortcuts.'
permalink: 'about/'
---

{% extends "layouts/base.html" %}

{% block head %}
    
{% endblock %}

{% block body %}

   

{% include 'components/about_content.html' %}
{% include 'components/testimonial.html' %}
{% include 'components/cta.html' %}



{% endblock %}