---
title: 'Area Events & Things to Do in Chesaning, MI | Chesaning Inn & Suites'
description: 'Discover top events, attractions, and outdoor fun near Chesaning Inn & Suites. Stay close to festivals, golf, river adventures, and downtown Chesaning, MI. Book your stay today!'
permalink: 'about/'
---

{% extends "layouts/base.html" %}

{% block head %}
    
{% endblock %}

{% block body %}

   

{% include 'components/about_content.html' %}
{% include 'components/testimonial.html' %}
{% include 'components/cta.html' %}



{% endblock %}