---
title: 'Pet Waste Cleanup Services in Michigan | Reliable & Veteran Owned | Great Lakes Handyman Services'
description: 'Professional pet waste removal in Oakland, Genesee, Lapeer, and Saginaw Counties. Keep your yard clean and healthy with our reliable, veteran-owned service.'
permalink: 'services/pet-waste-cleanup/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    
{% endblock %}

{% block body %}

{% include 'components/content_pet.html' %}
   
{% include 'components/testimonial.html' %}
{% include 'components/cta.html' %}



{% endblock %}