---
title: 'Gallery | Explore Chesaning Inn & Suites'
description: 'Take a closer look at the comfort and charm of Chesaning Inn & Suites. Browse photos of our cozy rooms, welcoming lobby, and special amenities like fireplace and Jacuzzi suites. See why guests feel right at home in the heart of Chesaning, MI.'
permalink: 'photos/'
eleventyNavigation:
    key: Photos
    order: 500

---



{% extends "layouts/base.html" %}

{% block head %}
    
{% endblock %}

{% block body %}






{% include 'components/gallery1.html' %}



{% include 'components/cta.html' %}

{% endblock %}